node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
.vscode
.idea
*.log
dist
src/server/dist
src/server/node_modules
uploads
.DS_Store
*.md
fix.md
task
planning/*.md
*.pdf
aalitycs
cloud
project
Top_players
aanaliticaa
.vercel
*.sql
*.sqlite
.next
out
archive
crm-demo
crm-demo-frontend
public/public
