PROJECT_NAME=esports-mood-tracker
APP_PORT=5000
HOST=0.0.0.0
NODE_ENV=production
JWT_SECRET=change-me
STAFF_PRIVILEGE_KEY=change-me-staff-key
# Для production через docker-compose URI будет собран автоматически
# из MONGO_ROOT_USERNAME, MONGO_ROOT_PASSWORD и MONGO_DATABASE.
MONGODB_URI=
CORS_ORIGIN=http://5.42.120.223
MONGO_DATABASE=esports-mood-tracker
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change-me-too
MONGO_PORT=27017
FACEIT_API_KEY=
FACEIT_CLIENT_ID=
FACEIT_CLIENT_SECRET=
REDIRECT_URI=http://5.42.120.223/api/faceit/oauth/callback
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openrouter/auto
OPENROUTER_SITE_URL=http://5.42.120.223
OPENROUTER_SITE_NAME=Esports Mood Tracker
RESEND_API_KEY=
MAIL_FROM=
SUPPORT_REQUEST_TO=
SUPPORT_MAIL_FROM=
